{% extends 'base.html.twig' %}

{% block title %}People of Altis{% endblock %}

{% block body %}

    {% for cat in category %}
    <div class="categorie">
        <h4>{{ cat.name }}</h4>
  {% for subcat in cat.subcategory %}
        <div class="sous_catégorie">

                <h6><a href="">{{ subcat.name }}</a></h6>

        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
