body {
    background-color: #151515;
    color: #f1f2f3;
}

.categorie{
    background-color: #666867;
    border: 2px #666867 solid;
    border-radius: 5px;
    margin-top: 5%;
    a{
        color: #f1f2f3;
        text-decoration: none;
    }
}

.sous_catégorie{

}
